#canvas-container {
    align-items: center;
    background: lightgrey;
    border: 1px solid black;
    box-shadow: 0 0 3px 1px #5e5e5e inset;
    display: flex;
    justify-content: center;
    grid-row: 1 / span 2;
    grid-column: 2;
    overflow: hidden;
}

#canvas {
    background: white;
    overflow: hidden;
    position: relative;
}

svg#document {
    border: 1px solid black;
    overflow: visible;
}

svg#document {
    fill: none;
    stroke: red;
}

svg#guide {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    overflow: visible;
    fill: none;
    stroke: blue;
}
