.panel {
    display: flex;
    justify-content: space-between;
}

.panel h2 {
    font-size: 100%;
    margin: 0;
    order: 2;
    padding-top: 5px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

.panel-content {
    overflow: hidden;
    padding: 0.5rem;
}

.panel.collapsed .panel-content {
    padding: 0;
    width: 0;
}

#canvas-tool-panel {
    border: 1px solid black;
    grid-row: 1 / span 2;
    grid-column: 1;
}
